:root{
    --naranja:#00c6cf;
    --fondo: #162c5f;
    --Purpura: #6441a581;
} /* valores seteados*/
* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html {
  min-height: 100%;
  position: relative;}
  body{

    background: var(--fondo);
    font-family: sans-serif;
    margin: 0;
    margin-bottom: 40px;
}
footer{
    position: absolute;
    padding: 20px;
    text-align: center;
    color: #fff;
    width: 100%;
    bottom: 0;
    background-color: rgba(0, 255, 255, 0.247);
    border-radius: 25px 25px 0 0 ;
}

.navegacion{ /*barra de navegacion en el header*/
    height: 80px;
    background: var(--Purpura);
    align-items: center;
    padding: 0 5%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center ;
}
header{
    padding: 0; 
    margin-top: 0;
}
header .logo{ /* aqui se edita las propiedades del nombre de la pgina que aparece en la esquina superior izquierda */
    font-family: lato;
    font-weight: normal;
    color: var(--naranja);
}
header nav a{ /*links de la nav del header*/
    color: var(--naranja);
    text-decoration: none;
    margin-right: 10px;
}
header input{
    background-color: rgba(0, 0, 0, .2);
    border-radius: 2rem;
    border: none;
    outline: none;
    padding: 0.75rem;
}
#iniciarsesion{
    background-color: #4a4aee;
    border-radius: 2rem;
    color: white;
    text-decoration: none;
    padding: 0.5rem;
}
header nav a:hover, /*funcion que hace que cambie de color los elementos de la barra*/
header nav a.activo{ 
    color: #fff;
}
.contenido{

    width: 100%;
}
.principal{ /*hace que el contenido princiapal se mantenga a la izquierda*/
    
    float: left;
    width: 70%;
    margin: 10px;
    padding: 10px;
}
.inventario{ /*estructura del contenido del "home"*/
    display: grid;
    grid-template-columns: repeat(3,1fr); /*disposicion del contenido*/
}
.item{ /*clase para cada "item" de la pagina, ya sea pelicula o serie*/
    max-height: 300px;
    display: flex;
    margin: 10px;
    color: #fff;
    padding: 5px;
    box-shadow: 0 0 3px rgba(0, 0, 0, .2);
    border-radius: 1em;
    flex-direction: column;
    background-color: black;
    overflow: hidden;
}
.item figure{
    position: relative; /*para mantener la hubiacion relativa, para que los textos se hubiquen correctamente*/
}
.item figure:hover figcaption{
    display: block;
    animation-duration: 1s; /*funcion para que aparezca el nombre y descripcion de la pelicula al pasar el ratos por encima*/
} 
.item figure figcaption{ /*setea los valores para que se realice bien el hover*/
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.7);
}
.item h2{ /*titulo de los items*/
    padding-top: 5px;
    text-align: center;
}
.item p{ /*descripcion de los items*/
    margin: 5px 7px;
    text-align: justify;
    color: var(--naranja);  
}
.item img{/*imagen de los items*/
    width: 100%;
    align-items: stretch;
}
.lateral{ /*barra lateral*/
    background: var(--Purpura);
    float: right;
    right: 0px;
    top: 2rem;
    width: 25%;
    padding: 10px;
    margin: 10px;
    border-radius: 1rem;
    padding: 1rem;
    color: white;
}
.lateral p{
    text-align: justify;
    padding: 1rem 0;
    font-size: large;
}
#l1 {
    color: black;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
    background: var(--naranja);
    border-radius: 1rem;
}
#l1 p{
    text-align: center;
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
}
#l1 a{
    text-decoration: none;
    padding: 0.5rem 0;
    text-align: left;
    padding-left: 1rem;
    color: white;
    font-size: 1.25rem;
}
.reproductor{  /* Aqui se va a construir el cuadro de reporductor de pelicuals*/
    border-radius: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    margin: auto;
    margin-top: 50px;
}
.playing{ /*caja del reproductor en la pagina "pelicula"*/
    border-radius: 10px 10px 0 0;
    font-size: 15px;
    color: rgba(255, 255, 255, 0.781);
    text-align: left;
    padding: 10px;
    padding-left: 10px;
    background-color: rgba(140, 0, 255, 0.363);
    width: 100%;
    height: 10%;
    font-family: sans-serif;
}
.playing h2{ /*titulo de lo que se reproduce*/
    font-family: lato;
    font-weight: 500;
}
.player_box{ /*caja de reproduccion*/
    background-color: black;
    width: 100%;
    max-height: 100%;
    min-height: 500px;
}
.player_menu{ /*menu de reproduccioc*/
    width: 100%;
    height: 50px;
    background: var(--Purpura);
    align-items: center;
    padding: 0 5%;
    display: flex;
    flex-wrap: wrap;
    align-items: center ;
    border-radius: 0 0 10px 10px;
}
.player_menu ul{
    width: inherit;
    padding: 0 5%;
    display: inherit;
    justify-content: space-between;
    flex-wrap: wrap;
}
.player_menu ul li{
    color: var(--naranja);
    list-style: none;
    font-family: sans-serif;
}
.player_bot{ /*zona inferior posterior del reproductor*/
    margin-top: 20px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 20px 25%;
}
#img_descp{ /*imagen o poster relacionado al contenido que se encuentra en el player bot*/
    width: 75%;
}
.player_bot #titulo{
    color: #7f18e0;
    text-align: center;
    font-family: sans-serif;
}
.player_bot #texto{
    line-height: 25px;
    margin-top: 10px;
    color: #fff;
    text-align: justify;
    font-family: sans-serif;
}
.info{ /* cuadro que maneja la informacion en el about */
    margin: auto;
    margin-top: 20px;
    width: 70%;   
}
.info h2{ /*sbutitulo de la seccion*/
    color: #f37718;
}   
.contenedorinfo{ /*contenedor de informacion del about*/
    margin-top: 10px;
    background-color: rgba(255, 255, 255, 0.205);
    border-radius: 20px;
    padding: 5px;
}
.info p{ /*texto en el about*/
    color: #fff;
    line-height: 25px;
    padding: 5px;
    text-align: justify;
}
.FAQ h2{ /*titulo en el FAQ*/
    color: white;
    margin-top: 20px;
    text-align: center;
    border-bottom: #f37718 solid 5px;
    padding-bottom: 10px;
}
.question { /*estructura de pregunta en el FAQ*/
    display: flex;
    flex-direction: row;
    background-color: rgba(255, 255, 255, 0.205);
    margin-left: 30px;
    margin-top: 50px;
    height: 70px;
    border-radius: 50px 0 0 50px;
}
.question h2{
    align-items: center;
    color: #f37718;
    font-size: 40px;
    margin-left: 20px;
    padding-bottom: 0.5rem;
}
.question p{
    align-items: center;
    margin-top: 40px;
    margin-left: 5px;
}
.answer{ /*estructura de respuesta en el FAQ*/
    background-color: rgba(243, 207, 6, 0.123);
    border-radius: 50px 0 0 50px;
    margin-left: 30px;
    min-height: 70px;
    max-height: 210px
}
.answer p{
    line-height: 25px;
    padding: 20px 20px;
    color: #fff;
    text-align: justify;
}
.cajalista{ /*lista de reproduccion disponible en la pagina "detalles"*/
    background-color: var(--Purpura);
    color: #00c6cf;
    display: list-item;
    width: 100%;
}

.cajalista ul li{
    list-style: none;
    width: 100%;
    min-height: 50px; ;
    padding: 5px;
    border-top: solid #808080 1px ;
    border-bottom: solid #808080 1px ; ;
}
.cajalista ul li p{
    text-align: left;
    font-size: 1.5rem;
    margin: 3%;
}


/*seccion del login*/
#login{
    
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(img/3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
}
.container-form {
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-around;
    transition:  all .5s ease-out;
}

.welcome-back {
    display: flex;
    align-items: center;
    text-align: center;
}

.message {
    padding: 1rem;
}

.message h2 {
    font-size: 1.7rem;
    padding: 1rem 0;
}

.message button {
    padding: 1rem;
    font-weight: 400;
    background-color: #4a4aee;
    border-radius: 2rem;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: .9rem;
    margin-top: 2rem;
    transition: all .3s ease-in;
    color: #fff;
}

.message button:hover {
    background-color: var(--Purpura);
}

.formulario {
    width: 400px;
    padding: 1rem;
    margin: 2rem;
    background-color: rgb(51, 51, 51, 0.602);
    text-align: center;
}

.create-account {
    padding: 2.7rem 0;
    font-size: 1.7rem;
}

.iconos {
    width: 200px;
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.border-icon {
    height: 20px;
    width: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1.5rem;
    border: solid thin white;
    border-radius: 50%;
    font-size: 1.5rem;
    transition: all .3s ease-in;
}

.border-icon:hover {
    background-color: var(--Purpura);
    cursor: pointer;
}

.cuenta-gratis {
    padding: 2rem 0;
}

.formulario input {
    width: 70%;
    display: block;
    margin: auto;
    margin-bottom: 2rem;
    background-color: transparent;
    border: none;
    border-bottom: white thin solid;
    text-align: center;
    outline: none;
    padding: .2rem 0;
    font-size: .9rem;
    color: white;
}

.formulario input[type="button"] {
    width: 60%;
    margin: auto;
    border: solid thin white;
    padding: .7rem;
    border-radius: 2rem;
    background-color: white;
    font-weight: 600;
    margin-top: 3rem;
    font-size: .8rem;
    cursor: pointer;
    color: #222;
}

.sign-in {
    position: absolute;
    opacity: 0;
    visibility: hidden;
}

.sign-in.active {
    opacity: 1;
    visibility: visible;
}

.sign-up.active {
    opacity: 0;
    visibility: hidden;
}

/*home del usuario*/    
#usname{   /*aqui se muestra el nombre del usuario activo*/
    color: white;
    background-color:  var(--naranja);
    border-radius: 1.50rem;
    padding: 0.75rem 1rem;
    font-family: lato;
    text-decoration: none;
}

.colapsable{ /*menu dropdown del usuario*/
    border-radius: 5px;
    background-color: #2b58c0;
    position: absolute;
    min-width: max-content;
}
.colapsable a{
    text-decoration: none;
    display: none;
    padding: 0.15rem 0.25rem;
    color: var(--naranja);
    font: lato;
}
#usermenu:hover .colapsable a{ /*? aun no encuentro como hacer que se mantenga */
    display: block;
}
 /*   aqui empieza la seccion del perfil de usuario */
.profile-main{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.head-user{
    margin-top: 3rem;
}
.profile-box{
    width: 80%;
}
.icon-name{
    display: flex;
    align-items: center;

}
#profile-icon{
    width: 5rem;
    background-color: var(--naranja);
    border-radius: 100%;
    padding: 0.5rem;
}
#user-name{
    color: white;
    font-family: lato;
    padding-left: 2rem;
    font-size: 2rem;
    display: inline;
}
#user-profilenav{
    padding-top: 3rem;
    display: flex;
    justify-content: flex-start;
    flex-wrap: nowrap;
    align-items: stretch;
    flex-grow: 1;
}
#user-profilenav a{
    font-size: 1.25rem;
    color: aliceblue;
    text-decoration: none;
    border-bottom: #7f18e0 0.10rem solid;
    padding: 0.75rem 2rem;
}
#empty-icon{
    display: flex;
    justify-content: center;
    flex-flow: column;
    align-items: center;
}
#empty-icon img{
    min-width: 300px;
    max-width: 3rem;
    padding-top: 2rem;
}
#empty-icon p{
    font-size: 3rem;
    font-family: lato;
    padding-top: 3rem;
    text-align: center;
    color: #00c6cf;
}
/* Aqui empieza la configuracion de el usuario  */
.config{
    padding-top: 3rem;
    width: 60%;
    margin: 0 auto;
    color: white;
    font-family: lato;

}
.config h2{
    font-size: 2rem;
    padding-bottom: 2rem;
    text-align: center;
}
.config-form{
    border-bottom: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.config-form input{
    width: 30%;
    padding: 0.40rem;
    border-radius: 1rem;
    border: none;
    margin: 1rem 0;
}
#buttonimg{
    border-top: white solid 1px;
    padding-top: 0.75rem;
}
.avatar-icon{
    text-align: center;
}
.avatar-icon img{
    width: 8rem;
    background-color: #fff;
    border-radius: 100%;
    padding: 0.20rem;
}
